.keyContainer {
  display:grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(5,1fr);
  grid-gap:0;
  grid-gap:1px
 
}

.darkgray {
  background:darkgray
}

.lightgray {
  background:lightgray;
  grid-column: auto / span 3;
}

.lightgray:nth-child(n+17){
  grid-column: auto / span 4;
}
