.container{
  width:30%;
  padding-top:5rem;
  margin:auto
}

.keyContainer {
  display:grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(5,1fr);
  grid-gap:0;
  grid-gap:1px
 
}

.darkgray {
  background:#858694;
  text-align:right;
  height:3rem;
  line-height: 3rem;
  color:white;
  font-size:large;
  
}

.lightgray {
  background:#E0E0E0;
  grid-column: auto / span 3;
  text-align: center;
  font-size: small;
  height:3rem;
  line-height: 3rem;
}

.lightgray:nth-child(17){
  grid-column: auto / span 6;
}

.lightgray:nth-child(n+18){
  grid-column: auto / span 3;
}

.lightgray:nth-child(4n){
  background:#F5913E
}

.lightgray:nth-child(19){
  background:#F5913E
}
